<div class="container text-center">
    <h2>Добавить точку</h2>
    <form id="add_point_form" role="form" ng-controller="PointsAddController" ng-submit="createPoint()">
        <div class="name-group form-group">
            <input name="name" type="text" class="form-control" placeholder="введите название точки" ng-model="point.name"/>
            <div class="error_list"></div>
        </div>
        <div class="address-group form-group">
            <input name="address" type="text" class="form-control" placeholder="введите адрес точки" ng-model="point.address"/>
            <div class="error_list"></div>
        </div>
        <div class="centered">
            <button type="submit" class="btn btn-default submit_button">добавить</button>
        </div>
    </form>
    <hr/>
    <h2 class="text-center">Последние добавленные точки</h2>
    <div class="row">
        <div ng-show="!points.length">Пока не добавлено ни одной точки</div>
        <div class="point_link col-md-2" ng-repeat="point in points">
            <a href="#/show/{{point.id}}">{{point.name}}</a>
        </div>
    </div>
    <div ng-show="points.length"><button ng-click="deleteAllPoints()">Удалить все точки</button></div>
    <hr/>
    <h2 class="text-center">Точки на карте</h2>
    <div id="map-canvas" style="height: 500px;"></div>
</div>
<script id="errorTmpl" type="text/x-jquery-tmpl">
    <span class="error">${error}</span>
</script>

