<div class="container">
    <div class="back">
        <a href="#/points">Назад</a>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div id="map-canvas" style="height: 300px"></div>
        </div>
        <div class="col-md-8">
            <table>
                <thead></thead>
                <tbody>
                    <tr>
                        <td><div>Название:</div></td>
                        <td><div>{{point.name}}</div></td>
                    </tr>
                    <tr>
                        <td><div>Адрес:</div></td>
                        <td><div>{{point.address}}</div></td>
                    </tr>
                    <tr>
                        <td><button ng-click="deletePoint()">Удалить</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
